@model IEnumerable<SYFIX.Models.CustomerResponse>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>ListResponses</title>
</head>
<body>
    <div class="text-center p-2">
        <h1>Here is a list of people that want to repair their Computer</h1>
        <table class="table table-bordered table-striped table-sm bg-dark text-white">
            <thead>
                <tr><th>Name or Company</th><th>Email</th><th>Phone</th><th>Computing Device</th><th>Time</th><th>MachineName</th><th>OS Version</th></tr>
            </thead>
            <tbody>
                @foreach (SYFIX.Models.CustomerResponse r in Model)
                {
                <tr>
                    <td>@r.Name</td>

                    <td>@r.Email</td>

                    <td>@r.Phone</td>

                    <td>@r.ComputerDevice</td>

                    <td>@System.DateTime.Now</td>

                    <td>@System.Environment.MachineName</td>

                    <td>@System.Environment.OSVersion</td>
    
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
